

AuthName         '사용자인증연습'

AuthType         Basic

AuthUserFile      C:/Users/bxbum/Desktop/Bums/programmimg/practicenote/present/.htpasswd

AuthGroupFile   /dev/null

ErrorDocument 401 '' 죄송합니다!! 당신은 정식 사용자가 아닙니다.'



<Limit GET>

    require         valid-user

</Limit>